<!DOCTYPE html>
<html>
<head>
  <title>Simpsons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'sidebar' %>
<div class="pusher">

<div class="ui black huge launch right attached button sidebar-button">
    <i class="icon list layout"></i>
</div>
    <%= yield %>
</div>

</body>
</html>
